
<%= render "post_form", post: @post, user: @user %>

<section id="feed">
    <% @posts.each do |p| %>
        <section class="feed-post">
            <%= tag.p "#{p.user.first_name} #{p.user.last_name}", class: "post-user" %>
            <%= tag.p p.body, class: "post-content" %>
        </section>
    <% end %>
</section>