// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#feed, #feed-form {
    margin: 2rem auto;
}

// #feed-form {
//     position: absolute;
// }

.feed-post, .feed-post-form {
    background-color: #555555;
    width: 50rem;
    height: 25rem;
    border: black solid 2px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.post-user .post-user-form {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 1rem;
}

.post-content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 1rem;
}

.post-content-form {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding: 1rem;
}

input[type=submit] {
    // display: block;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: auto;
    background-color: #263959;
    padding: 0 1rem;
}

input[type=submit]:focus, 
input[type=submit]:hover {
    background-color: #385383;
}