// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#feed {
    margin: 2rem auto;
}

.feed-post {
    background-color: #555555;
    width: 50rem;
    height: 25rem;
    border: black solid 2px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.post-user {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 1rem;
}

.post-content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 1rem;
}